# DAT210x - Programming with Python for DS

## Module2 - Lab5

Import and alias Pandas:

In [1]:
import pandas as pd

As per usual, load up the specified dataset, setting appropriate header labels.

In [16]:
df=pd.read_csv('Datasets/census.data', sep=',' , names=['education', 'age', 'capital-gain', 'race', 'capital-loss', 'hours-per-week', 'sex', 'classification'])

In [17]:
df.dtypes

education         object
age                int64
capital-gain      object
race              object
capital-loss       int64
hours-per-week     int64
sex               object
classification    object
dtype: object

In [12]:
print(df.race.unique())
print(df.sex.unique())
print(df.classification.unique())
print(df.education.unique())

['White' 'Black' 'Asian-Pac-Islander' 'Amer-Indian-Eskimo' 'Other']
['Male' 'Female']
['<=50K' '>50K']
['Bachelors' 'HS-grad' '11th' 'Masters' '9th' 'Some-college' '7th-8th'
 'Doctorate' '5th-6th' '10th' '1st-4th' 'Preschool' '12th']
[39 50 38 53 28 37 49 52 31 42 30 23 34 25 32 43 40 54 35 59 56 19 20 45 22
 48 21 24 57 44 18 47 46 41 29 36 79 27 67 33 76 17 55 61 70 64 71 68 51 58
 26 60 90 66 65 77 62 63 80 72 74 69 73 81 78 75 82 83 84 85 88 86 87]

Excellent.

Now, use basic pandas commands to look through the dataset. Get a feel for it before proceeding!

Do the data-types of each column reflect the values you see when you look through the data using a text editor / spread sheet program? If you see `object` where you expect to see `int32` or `float64`, that is a good indicator that there might be a string or missing value or erroneous value in the column.

In [6]:
df.head()

,education,age,capital-gain,race,capital-loss,hours-per-week,sex,classification
0,Bachelors,39,2174,White,0,40,Male,<=50K
1,Bachelors,50,?,White,0,13,Male,<=50K
2,HS-grad,38,?,White,0,40,Male,<=50K
3,11th,53,?,Black,0,40,Male,<=50K
4,Bachelors,28,0,Black,0,40,Female,<=50K

Try use `your_data_frame['your_column'].unique()` or equally, `your_data_frame.your_column.unique()` to see the unique values of each column and identify the rogue values.

If you find any value that should be properly encoded to NaNs, you can convert them either using the `na_values` parameter when loading the dataframe. Or alternatively, use one of the other methods discussed in the reading.

In [18]:
len(df.columns)

8

Look through your data and identify any potential categorical features. Ensure you properly encode any ordinal and nominal types using the methods discussed in the chapter.

Be careful! Some features can be represented as either categorical or continuous (numerical). If you ever get confused, think to yourself what makes more sense generally---to represent such features with a continuous numeric type... or a series of categories?

In [21]:
df.loc[0:5,["education"]]

   education
0  Bachelors
1  Bachelors
2    HS-grad
3       11th
4  Bachelors
5    Masters

Lastly, print out your dataframe!

In [24]:
pd.get_dummies(df, columns=['sex'])# encoded nominal and ordinal

,age,capital-loss,hours-per-week,education_10th,education_11th,education_12th,education_1st-4th,education_5th-6th,education_7th-8th,education_9th,...,capital-gain_?,race_Amer-Indian-Eskimo,race_Asian-Pac-Islander,race_Black,race_Other,race_White,sex_Female,sex_Male,classification_<=50K,classification_>50K
0,39,0,40,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,1,0
1,50,0,13,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,1,1,0
2,38,0,40,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,1,1,0
3,53,0,40,0,1,0,0,0,0,0,...,1,0,0,1,0,0,0,1,1,0
4,28,0,40,0,0,0,0,0,0,0,...,0,0,0,1,0,0,1,0,1,0
5,37,0,40,0,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,1,0
6,49,0,16,0,0,0,0,0,0,1,...,0,0,0,1,0,0,1,0,1,0
7,52,0,45,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,1
8,31,0,50,0,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,1
9,42,0,40,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,1
10,37,0,80,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,1
11,30,0,40,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,1,0,1
12,23,0,30,0,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,1,0
13,34,0,45,0,0,0,0,0,1,0,...,0,1,0,0,0,0,0,1,1,0
14,25,0,35,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,1,0
15,32,0,40,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,1,0
16,38,0,50,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,1,1,0
17,43,0,45,0,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,1
18,40,0,60,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,1
19,54,0,20,0,0,0,0,0,0,0,...,0,0,0,1,0,0,1,0,1,0
20,35,0,40,0,0,0,0,0,0,1,...,0,0,0,1,0,0,0,1,1,0
21,43,2042,40,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,1,1,0
22,59,0,40,0,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,1,0
23,56,0,40,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,1
24,19,0,40,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,1,0
25,54,0,60,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,1,0,1
26,39,0,80,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,1,0
27,49,0,40,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,1,0
28,20,0,44,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,1,0
29,45,1408,40,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29506,30,0,55,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,1,0
29507,32,0,40,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,1,0
29508,22,0,40,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,1,0
29509,31,0,40,0,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,1,0
29510,29,0,35,0,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,1,0
29511,35,0,55,0,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,1
29512,30,0,99,0,0,0,0,0,0,0,...,0,0,1,0,0,0,1,0,1,0
29513,34,0,60,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,1
29514,54,0,50,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,1,0,1
29515,37,0,39,0,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,1,0
29516,22,0,35,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,1,1,0
29517,34,0,55,0,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,1
29518,30,0,46,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,1,0
29519,38,0,45,0,0,0,0,0,0,0,...,0,0,0,1,0,0,1,0,0,1
29520,71,0,10,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,1
29521,45,0,40,0,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,1,0
29522,41,0,32,0,0,0,0,0,0,0,...,0,0,0,1,0,0,1,0,1,0
29523,72,0,25,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,1,0
29524,31,0,30,0,0,0,0,0,0,0,...,0,0,0,0,1,0,1,0,1,0
29525,43,0,40,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,1,0
29526,43,0,40,0,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,1,0
29527,43,0,50,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,1,0
29528,32,0,40,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,1,1,0
29529,32,0,11,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,1,1,0
29530,53,0,40,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,1
29531,22,0,40,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,1,0
29532,40,0,40,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,1
29533,58,0,40,0,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,1,0
29534,22,0,20,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,1,0
29535,52,0,40,0,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,1

In [25]:
df.astype()

TypeError: astype() missing 1 required positional argument: 'dtype'